<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPD.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SimplePatientDocumentation.DAL.DBSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SPD.DAL.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>Access2007</value>
            </setting>
            <setting name="MySQLServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MySQLDatabase" serializeAs="String">
                <value>spd</value>
            </setting>
            <setting name="MySQLUser" serializeAs="String">
                <value>spd</value>
            </setting>
            <setting name="MySQLPassword" serializeAs="String">
                <value>eritrea</value>
            </setting>
            <setting name="PostgreSQLServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PostgreSQLPort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="PostgreSQLUser" serializeAs="String">
                <value>spd</value>
            </setting>
            <setting name="PostgreSQLPassword" serializeAs="String">
                <value>eritrea</value>
            </setting>
            <setting name="PostgreSQLDatabase" serializeAs="String">
                <value>spd</value>
            </setting>
            <setting name="MySQLPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="AccessFile" serializeAs="String">
                <value>patient.mdb</value>
            </setting>
            <setting name="Access2007File" serializeAs="String">
                <value>patient.accdb</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
        </SPD.DAL.Properties.Settings>
        <SimplePatientDocumentation.DAL.DBSettings>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseFile" serializeAs="String">
                <value>patient.mdb</value>
            </setting>
        </SimplePatientDocumentation.DAL.DBSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
