<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPD.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SimplePatientDocumentation.FrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <SPD.GUI.Properties.Settings>
      <setting name="service" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WCFHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="WCFPort" serializeAs="String">
        <value>1717</value>
      </setting>
      <setting name="WCFProtocol" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="TopBorder" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="LeftBorder" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="NoOfColumns" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NoOfRows" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LabelFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="UpdateUri" serializeAs="String">
        <value>http://gassi.dyndns.org/updates/SPD/</value>
      </setting>
      <setting name="Barcode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UltraSound" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Hoden:</string>
            <string>Nieren:</string>
            <string>Blase:</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>at the IOCCA</value>
      </setting>
    </SPD.GUI.Properties.Settings>
    <SimplePatientDocumentation.FrontEnd.Properties.Settings>
      <setting name="service" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WCFHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="WCFPort" serializeAs="String">
        <value>9002</value>
      </setting>
      <setting name="WCFProtocol" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </SimplePatientDocumentation.FrontEnd.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
