<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="SPD.BL.WCF.SPDService">

        <endpoint name="SPDService_HttpEndpoint" address="http://localhost:1717/SPDService" binding="wsHttpBinding" contract="SPD.BL.Interfaces.ISPDBL"/>

        <endpoint name="SPDService_TcpEndpoint" address="net.tcp://localhost:1718/SPDService" binding="netTcpBinding" contract="SPD.BL.Interfaces.ISPDBL"/>

        <endpoint name="SPDService_NamedPipeEndpoint" address="net.pipe://localhost/SPDService" binding="netNamedPipeBinding" contract="SPD.BL.Interfaces.ISPDBL"/>
<!--
        <endpoint name="SPDService_MEX"
         address="http://localhost:1717/SPDService/mex" 
         binding="mexHttpBinding"
         contract="IMetadataExchange" />
-->
      </service>
    </services>    
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
